
    
    /**************** TAG selector *******************/
    
    body{ 
        background-color: greenyellow; 
    }

    h1 {
        color: #66BFBF;
    }

    h3 {
        color: #66BFBF;
    }
    
    hr {             
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 10px;
        width: 30%;     
    }

    img{
        height: 150px;
        border-radius: 10%;
    }

    img:hover{
        background-color: gold;
        height: 200px;
    }

        /**************** CLASS selector *******************/
.bacon {
    background-color:green;
}
.broccoli{
    background-color: red;
}

        /**************** ID selector *******************/
#heading{
   color:blue; 
}